*{
	box-sizing:border-box;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	margin:0;
	padding:0;
	color:black;
	}

ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
	}

	iframe {
    padding-bottom: 10px;
    width: 100%;
    border: none;
}

.fixedbar {
	color: #523a86;
    overflow: hidden;
    background-color: rgba(218,240,239,0.5);
    z-index: 3;
    position: fixed;
    margin: 0px;
    width: 100%;
	display:none;
}

.fixedbar ul li {
    float: right;
    font-size: 18px;
    padding: 15px 10px;
    margin-left: 10px;
    display: inline-block;
    z-index: 9999999;
}

.fixedbar ul li:first-child {
	float:left;
    overflow: hidden;
    padding: 0px;
    margin: 10px;

}

.fixedbar ul li:nth-child(2) {
    float: left;
    margin-left: 33px;
}

.fixedbar img {
    position: absolute;
    top: 2px;
    height: 45px;
    width: 45px;

}

.nav{
	overflow:hidden;
	position:relative;
	text-align:center;
}

.left {
    position: relative;
    height: 150px;
    width: 33.33%;
    float: left;
}

.nav span {
	padding-bottom: 10px;
	    width: 100px;
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 23px;
	    font-weight: 100;
	    color: #319997;
	    border-bottom: 3px solid #319997;
}

.left span:first-child {
	text-align:left;
    left: 15%;
}

.left span:nth-child(2) {
    text-align: left;
    right: 0;
    width: 127px;
}

.right span:first-child {
    width: 127px;
    text-align: right;
    left: 0;
}

.right span:nth-child(2){
	text-align:right;
	right:15%;
}

.centre {
    float: left;
    width: 33.33%;
}

.right {
    position: relative;
    height: 150px;
    width: 33.33%;
    float: left;
}

h2 {
	color: #523a86;
    margin: 0;
    font-size: 40px;
}

header {
    margin: 0px;
    position: relative;
    padding: 0px;
}

header img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.banner{
	background-image:url("images/banner.jpg");
	background-position:center;
	background-size:cover;
	width:100%;
	height:368px;
	text-align: center;
	    position: relative;

}

.container{
    padding: 60px 40px;
    margin: 0px auto;
    overflow: hidden;
    width: 1040px;
}

.nav .container{
	padding:40px;
}

.title {
	position: absolute;
	    left: 15%;
	    bottom: 50%;
	    transform: translateY(50%);
	    background-color: rgba(255,255,255,0.7);
	    width: 500px;
	    padding: 65px 0px;
	    color: #319997;
	    margin-left: 20px;
	    display: block;
	    box-sizing: border-box;
	    margin: 0px;
}

.title p {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Dancing Script', cursive;
    color: #607D8B;
}

.hex{
	margin-top: 40px;
	    margin-bottom: 40px;
	    margin-left: 37px;
	    position: relative;
	    height: 110px;
	    width: 190px;
	    background-color: #319997;
		display: inline-block;
		z-index:2;
}

.hex .hex2{
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    overflow: hidden;
	    background: inherit;
		transform: rotate(60deg);

}

.hex .hex3 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    overflow: hidden;
    background: inherit;
    transform: rotate(-60deg);
}

.container{
	background-color:#F5F5F5;
}

.row2 {
    padding-left: 115px;
}

.f2 {
    margin-left: 148px;
    background-color: black;
}

.f3{
	background-color:#b3b3b3;
}

.f6{
	background-color:#ee6557;
}

.f5 {
    margin-left: 150px;
    background-color: white;
}

.inner{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-family: freightsans_regular, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.inner img {
	z-index:-1;
    height: 100%;
    width: 100%;
}

.arrow-up {
	position: absolute;
	    left: 0;
	    z-index: 3;
	    top: -55px;
	    width: 0;
	    height: 0;
	    border-left: 95px solid transparent;
	    border-right: 95px solid transparent;
	    border-bottom: 55px solid rgba(0,0,0,0.6);
		display:none;
}

.arrow-down {
    position: absolute;
    left: 0;
    z-index: 3;
    bottom: -55px;
    width: 0;
    height: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-top: 55px solid rgba(0,0,0,0.6);
	display:none;
}

.middle{
	    position: absolute;
	    left:0;
	    bottom:0;
	    height: 110px;
	    width: 190px;
	    background-color: rgba(0,0,0,0.6);
	 display:none;
	    z-index: 111;
		text-align:center;
		color:white;
		font-size:29px;
		line-height:35px;
		margin:0px auto;
		padding-left:5px;
		padding-right:5px;
}

.hex:hover .arrow-up{
	display:inline-block;
}

.hex:hover .arrow-down{
	display:inline-block;
}

.hex:hover .middle{
	display:inline-block;
}

.banner2{
		background-image:url("images/banner2-4.jpg");
		background-position:center;
		background-size:cover;
		width:100%;
		height:400px;
		text-align: center;
		background-attachment:fixed;
}

footer ul {
    color: #319997;
    list-style-type: none;
    font-size: 18px;
    line-height: 28px;
}

footer .left{
	width:30%;
}

footer .right{
	border: 2px solid #607d8b;
	    width: 70%;
}

a{
	text-decoration:none;
	color:inherit;
}

h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(-50%) translateY(50%);
    font-family: 'Fjalla One', sans-serif;
    padding: 0px;
    font-size: 45px;
    margin: 0px;
    width: 100%;
    color: #523a86;
}

.banner2 .container {
    position: relative;
    height: 100%;
    background-color: transparent;
}

/*symptom checker*/

.checker .container{
	    background-color: transparent;
}

.fixednav {
    color: #523a86;
    overflow: hidden;
    background-color: rgb(247, 178, 171);
    z-index: 111111;

    margin: 0px;
    width: 100%;
}

.fixednav ul li {
    float: right;
    font-size: 18px;
    padding: 15px 10px;
    margin-left: 10px;
    display: inline-block;
    z-index: 9999999;
}

.fixednav ul li:first-child {
	float:left;
    overflow: hidden;

    padding: 0px;
    margin: 10px;
}

.fixednav ul li:nth-child(2) {
    float: left;
    margin-left: 33px;
}

.fixednav img {
    position: absolute;
    top: 2px;
    height: 45px;
    width: 45px;

}

form#sym_check {
	    overflow: hidden;
    margin-top: 16px;
    background-color: rgba(158, 158, 158, 0.12);
    width:100%;
    padding: 20px;
    border: 1px solid rgba(158, 158, 158, 0.21);
    color: #523a86;
}

input[type="text"] {
    width: 95%;
    margin: 5px 0px;
    height: 24px;
    padding: 5px;
    font-size: 14px;
    border: none;
}

input[type="radio"] {
    margin-left: 15px;
}

span.form_sym {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
}

li{
list-style-type:none;
}

#sym_check p {
    /* width: 12px; */
    margin-top: 0px;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 7px;
}

select.age {
    display: inline-block;
    margin-left: 22px;
}

.preg{
	display:none;
}

.head{
	overflow:hidden;
}

.head .left {
    width: inherit;
    height: inherit;
    margin-right: 10px;
}

.head .left img {
    width: 55px;
    height: 55px;
}

.head .right {
	    width: inherit;
	    height: inherit;
	    padding: 10px;
	}

.col-onehalf {
	    overflow: hidden;
	    float: left;
	    width: 50%;
	}

.checker .container .col-onehalf p {
	    display: block;
	    width: 211px;
	    font-size: 23px;
	    margin: 0px auto;
	    margin-top: 135px;
	    color: #523a86;

	}
	.perpwd p {
    margin-left: 161px;
    /* margin: 0px auto; */
}

#personal button {
    width: 100px;
    /* border: none; */
    margin: 0px auto;
    display: block;
    margin-top: 4px;
}



form#register input,form#sym_check input[type="text"],#sym_check input[type="email"],#sym_check input[type="password"],#sym_check input[type="date"] {
        padding-left: 7px;
    margin: 8px 0px;
    width: 100%;
    border: none;
    border: 1px solid #c1c1c1;
    height: 30px;
}

form#register, #sym_check {
background-color:rgba(158, 158, 158, 0.12);
    padding: 25px;
}


form #sym_check{
padding:10px;
}

input:-webkit-autofill,textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#sym_check input[type="submit"],#register input[type="submit"] {
    padding: 6px;
    font-size: 18px;
    font-family: inherit;
       color: #523a86;
    text-align: center;
    /* float: left; */
    /* display: inline-block; */
    width: 100%;
    margin-top: 13px;
    -webkit-appearance: initial;
    /* height: 20px; */
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(247, 178, 171, 0.61);
    height: 36px;
    /* margin: 0px auto; */
}

	#sym_check input[type="reset"]{
	    padding: 6px;
	    font-size: 18px;
	    font-family: inherit;
	    color: inherit;
	    margin-right: 17px;
	    display: inline-block;
	    float: left;
	    width: 48%;
	    -webkit-appearance: initial;

	    border: 1px solid rgb(204, 204, 204);
	    background-color: rgba(247, 178, 171, 0.61);
	    height: 30px;
	}

	/*login forms

input[type="password"], input[type="email"], input[type="text"] {
	    height: 55px;
	    width: 100%;
	    padding: 10px;
	    margin-bottom: 40px;
	    font-size: 16px;
	}

.forms {
	    width: 600px;
	    margin: 0px auto;
	    background-color: white;
	}

ul.switcher li {
	    text-align: center;
	    width: 50%;
	    font-size: 18px;
	    display: inline-block;
	    background-color: white;
	    border-bottom: 1px solid white;
	    margin-right: -3px;
	}

form#login, form#register {
	margin:0px;
	    padding: 40px 30px;
	}

.switcher li a {
    line-height: 60px;
    display: block;
    height: 60px;
    text-decoration: none;
    color: rgba(103, 99, 99, 0.87);
    background-color: #cccccc;
	}

.switcher li a:active {
	    background-color: white;
	}

input[type="checkbox"] {
	    margin: 0px;
	    margin-right: 6px;
	}

	#login input[type="submit"], #register input[type="submit"] {
	    display: block;
	    width: 100%;
	    height: 55px;
	    margin-top: 40px;
	    float: none;
	    background-color: #319997;
	}

	input[type="date"] {
	    display: block;
	}

	input[type="date"] {
	    text-align: center;
	    height: 55px;
	    margin-bottom: 45px;
	    display: block;
	    font-size: 16px;
	    padding: 10px;
	    color: #a9a9ae;
	    /* box-sizing: border-box;
		}
		*/
	/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	.cd-user-modal {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(52, 54, 66, 0.9);
	  z-index: 4;
	  overflow-y: auto;
	  cursor: pointer;
	  visibility: hidden;
	  opacity: 0;
	  -webkit-transition: opacity 0.3s, visibility 0.3s;
	  -moz-transition: opacity 0.3s, visibility 0.3s;
	  transition: opacity 0.3s, visibility 0.3s;
	}
	.cd-user-modal.is-visible {
	  visibility: visible;
	  opacity: 1;
	}
	.cd-user-modal.is-visible .cd-user-modal-container {
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -o-transform: translateY(0);
	  transform: translateY(0);
	}

	.cd-user-modal-container {
	  position: relative;
	  width: 90%;
	  max-width: 600px;
	  background: #FFF;
	  margin: 3em auto 4em;
	  cursor: auto;
	  border-radius: 0.25em;
	  -webkit-transform: translateY(-30px);
	  -moz-transform: translateY(-30px);
	  -ms-transform: translateY(-30px);
	  -o-transform: translateY(-30px);
	  transform: translateY(-30px);
	  -webkit-transition-property: -webkit-transform;
	  -moz-transition-property: -moz-transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	.cd-user-modal-container .cd-switcher:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.cd-user-modal-container .cd-switcher li {
	  width: 50%;
	  float: left;
	  text-align: center;
	}
	.cd-user-modal-container .cd-switcher li:first-child a {
	  border-radius: .25em 0 0 0;
	}
	.cd-user-modal-container .cd-switcher li:last-child a {
	  border-radius: 0 .25em 0 0;
	}
	.cd-user-modal-container .cd-switcher a {
	  display: block;
	  width: 100%;
      height: 70px;
      line-height: 70px;
	  background: #d2d8d8;
	  color: #809191;
	}
	.cd-user-modal-container .cd-switcher a.selected {
	  background: #FFF;
	  color: #505260;
	}
	.cd-form {
	    overflow: hidden;
	    padding: 1.4em;
	}
	.cd-form .fieldset {
	  position: relative;
	  margin: 1.4em 0;
	}
	.cd-form .fieldset:nth-child(3) {
	  margin-top: 0;
	}
	/*.cd-form .fieldset:last-child {
	  margin-bottom: 0;
	}*/
	.cd-form label {
	  font-size: 14px;
	  font-size: 0.875rem;
	}
	.cd-form label.image-replace {
	  /* replace text with an icon */
	  display: inline-block;
	  position: absolute;
	  left: 15px;
	  top: 50%;
	  bottom: auto;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  height: 20px;
	  width: 20px;
	  overflow: hidden;
	  text-indent: 100%;
	  white-space: nowrap;
	  color: transparent;
	  text-shadow: none;
	  background-repeat: no-repeat;
	  background-position: 50% 0;
	}
	/*
	.cd-form label.cd-username {
	  background-image: url("../img/cd-icon-username.svg");
	}
	.cd-form label.cd-email {
	  background-image: url("../img/cd-icon-email.svg");
	}
	.cd-form label.cd-password {
	  background-image: url("../img/cd-icon-password.svg");
	}*/
	.cd-form input {
	  margin: 0;
	  padding: 0;
	  border-radius: 0.25em;
	}
	.cd-form input.full-width {
	  width: 100%;
	}
	.cd-form input.has-padding {
	  padding: 12px 20px 12px 50px;
	}
	.cd-form input.has-border {
	  border: 1px solid #d2d8d8;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  -o-appearance: none;
	  appearance: none;
	}
	.cd-form input.has-border:focus {
	  border-color: #343642;
	  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
	  outline: none;
	}
	.cd-form input.has-error {
	  border: 1px solid #d76666;
	}
	.cd-form input[type=password] {
	  /* space left for the HIDE button */
	  padding-right: 65px;
	}
	.cd-form input[type=submit] {
		    font-size: 16px;
	  padding: 16px 0;
	  cursor: pointer;
	  background: #2f889a;
	  color: #FFF;
	  font-weight: bold;
	  border: none;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  -o-appearance: none;
	  appearance: none;
	}
	.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
	  background: #3599ae;
	  outline: none;
	}
	.cd-form .hide-password {
	  display: inline-block;
	  position: absolute;
	  right: 0;
	  top: 0;
	  padding: 6px 15px;
	  border-left: 1px solid #d2d8d8;
	  top: 50%;
	  bottom: auto;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  font-size: 14px;
	  font-size: 0.875rem;
	  color: #343642;
	}
	.cd-form .cd-error-message {
	  display: inline-block;
	  position: absolute;
	  left: -5px;
	  bottom: -35px;
	  background: rgba(215, 102, 102, 0.9);
	  padding: .8em;
	  z-index: 2;
	  color: #FFF;
	  font-size: 13px;
	  font-size: 0.8125rem;
	  border-radius: 0.25em;
	  /* prevent click and touch events */
	  pointer-events: none;
	  visibility: hidden;
	  opacity: 0;
	  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
	  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
	  transition: opacity 0.2s 0, visibility 0 0.2s;
	}
	.cd-form .cd-error-message::after {
	  /* triangle */
	  content: '';
	  position: absolute;
	  left: 22px;
	  bottom: 100%;
	  height: 0;
	  width: 0;
	  border-left: 8px solid transparent;
	  border-right: 8px solid transparent;
	  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
	}
	.cd-form .cd-error-message.is-visible {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transition: opacity 0.2s 0, visibility 0 0;
	  -moz-transition: opacity 0.2s 0, visibility 0 0;
	  transition: opacity 0.2s 0, visibility 0 0;
	}
	.cd-form-message {
	  padding: 1.4em 1.4em 0;
	  font-size: 14px;
	  font-size: 0.875rem;
	  line-height: 1.4;
	  text-align: center;
	}
	.cd-form-bottom-message {

	    position: absolute;
	    width: 100%;
	    left: 0;
	    bottom: -35px;
	    text-align: center;
	    font-size: 14px;
	    font-size: 0.95rem;
	}
	.cd-form-bottom-message a {
	  color: #FFF;
	  text-decoration: underline;
	}

	.cd-close-form {
	  /* form X button on top right */
	  display: block;
	  position: absolute;
	  width: 40px;
	  height: 40px;
	  right: 0;
	  top: -40px;
	  /*background: url("../img/cd-icon-close.svg") no-repeat center center;*/
	  text-indent: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	}
	#cd-login, #cd-signup, #cd-reset-password {
	  display: none;
	}

	#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
	  display: block;
	}

	.cd-form input[type="password"],.cd-form input[type="email"],.cd-form input[type="text"],.cd-form input[type="date"] {
		    height: 55px;
		    width: 100%;
		    padding: 10px;
		   /* margin-bottom: 40px;*/
		    font-size: 16px;
			    border: 1px solid #aea9a9;
		}
	.cd-form input[type="date"]{
		color:#aea9a9;
	}

    .pro {
	    background-color: rgba(255, 193, 7, 0.61);
	    color: #6991ac;
	}
	
	.navigation {
	    margin-bottom: 60px;
	    position: relative;
	}
	
	section.navigation:after,section.navigation:before{
		content:"";
		display:table;
	}
	
	.navigation:after{
		clear:both;
	}
	
	.navigation h4 {
	    background-color: #6991ac;
	    text-align: center;
		    cursor: pointer;
	    /* margin-bottom: 10px; */
	    padding: 10px;
	    margin: 0px;
	    width: 100px;
	    height: 80px;
	    line-height: 62px;
	    font-size: 22px;
	    /* line-height: 103px; */
	    display: block;
	    position: relative;
    border: 2px solid black;
	    border-left: 0;
	    border-bottom: 0;
	    width: 30%;
	    /* margin-bottom: 10px; */
	}
	
	.navigation h4:first-child {
	    border-top: 0;
	}
	
	.navigation .container .content {
	    text-align: left;
	    position: absolute;
	    right: 0;
	    bottom: 50%;
	    transform: translateY(50%);
	    width: 70%;
	    display: none;
	    overflow: hidden;
	    font-size: 19px;
	
	}
	
	section.navigation .content:after,section.navigation ul:before{
		content:"";
		display:table;
	}
	
	section.navigation .content:after{
		clear:both;
	}
	
	section.navigation .active + .content {
	  display: block;
	}
	

	.navigation .container {
	    border: 2px solid black;
	    /* width: 100%; */
	    height: 480px;
	    position: relative;
	    overflow: hidden;
	    padding: 0px;
	    background-color: #c3d7df;
	}
	


	h4.active {
	    background-color: #c3d7df;
	    border-right: none;
	}
	

	span.left-align {
	    padding-left: 45px;
	    width: 40%;
	    float: left;
	    text-align: -webkit-left;
	    margin-left: 29px;
	    /* margin-top: 10px; */
	}

	span.left-align, span.right-align {
	    /* box-sizing: border-box; */
	    height: 20px;
	    /* width: 22%; */
	    display: block;
	    margin-bottom: 10px;
	    /* border-bottom: 1px dashed black; */
	}

	span.right-align {
	    padding-right: 10px;
	    /* text-align: -webkit-center; */
	    width: 56%;
	    float: right;
	    /* text-align: center; */
	}
	
	.medical .left-align{
		    padding-top: 5px;
		width:60%;
	}
	
	.medical .right-align{
		    padding-top: 5px;
		width:33%;
		text-align:center;
	}
	
	#personal{
		padding-left:45px;
	}
